* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    position: relative;
}

body {
    margin: 0;
    background-color: rgb(0, 0, 35);
}

/* Games Info (left) */
.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 100vh;
    /* background-color: rgb(126, 208, 255); */
    padding-top: 10px;
    padding-left: 19px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;

    font-family: system-ui;
    color: #fff;
    font-size: 50px;
}

.main-game {
    position: relative;
    height: 700px;
    width: 700px; 
    background-color: #fff;
}
.square {
    transition: transform 0.2s ease-in-out;
}

.square:hover {
    cursor: pointer;
    transform: scale(1.009);
}

.warhol {
    display: grid;
    grid-template-areas: 'grid_red grid_yellow'
                         'grid_green grid_blue';
    grid-gap: 1vh;
    border: 1vh solid rgb(0, 0, 35);
    background-color: rgb(0, 0, 35);
    border-radius: 0%;
    width: 100%;
    height: 100%;
}

/* Adds (right) */
.sidebar {
    width: 200px; 
    height: 100vh;
    background-color: gray;
    padding-top: 10px;
    padding-left: 19px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        min-height: auto;
    }

    .main-game {
        width: 100%;
        max-width: 600px;
        height: 100vw;
        max-height: 600px;
    }

    .infos {
        position: relative;
        width: 100%;
        height: 90px;
        margin-bottom: 2%;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: 200px;
        margin-top: 3%;
    }
}

.red {
    grid-area: grid_red;
    background-color: #e61125;
    border-top-left-radius: 0%;
}

.green {
    grid-area: grid_green;
    background-color: #90b80a;
    border-top-right-radius: 0%;
}

.blue {
    grid-area: grid_blue;
    background-color: #0485ed;
    border-bottom-left-radius: 0%;
}

.yellow {
    grid-area: grid_yellow;
    background-color: #fffb09;
    border-bottom-right-radius: 0%;
}

.selected {
    opacity: 0.5;
}